* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(234, 234, 150);
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 40px;

}

a{
    color:white;
    text-decoration: none;
}
.nav-link{
    list-style: none;
    margin: 20px 0;
    width: 8rem;
}

/*Navbar*/
.navbar{
    background: blue;

}

.flex-nav{
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-header img{
    width: 34%;
    height: 20%;
    border-radius:50%;
}

.logo {
    border-radius:50%;
}

.nav-toggle{
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.5rem;
}

.nav-links {
    height: 0;
    overflow: hidden; 
}

/*Section*/
section{
    background-color: rgb(81, 144, 216);
}
.text img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.text {
    position: relative;
}

.text-portfolio{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:#fff;
    background-color: rgb(21, 126, 157);;
    
}

/*Descripción*/

h2{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 30px;
    
}

.description h2, .description p{
    color: rgb(78, 82, 188);
}

.description p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px 20px ;
    text-align: justify;
}

/*Skills*/

.skills {
    width: 500px;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    color: antiquewhite;
}

.skill-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 30px;
    margin-bottom: 20px;
}

.skill {
    text-align: right;
    padding: 10px;
    color: rgb(217, 240, 42);
    font-weight: bold;
}

.timidez {
    background-color: rgb(169, 80, 169);
    animation: filltimidez 2s forwards;
    border-radius: 25px;
}

.torpeza {
    background-color: rgb(80, 169, 108);
    animation: filltorpeza 2s forwards;
    border-radius: 25px;
}

.amigable {
    background-color: rgb(182, 147, 44);
    animation: filltorpeza 2s forwards;
    border-radius: 25px;
}

.cariñoso {
    background-color: rgb(197, 26, 23);
    animation: fillcariñoso 2s forwards;
    border-radius: 25px;
}

.humor {
    background-color: rgb(18, 18, 138);
    animation: fillhumor 2s forwards;
    border-radius: 25px;
}

.familiar {
    background-color: rgb(226, 19, 133);
    animation: fillfamiliar 2s forwards;
    border-radius: 25px;
}

@keyframes filltimidez {
    0%{width: 0;}
    100%{width: 20%;}
}

@keyframes filltorpeza {
    0%{width: 0;}
    100%{width: 80%;}
}

@keyframes fillamigable {
    0%{width: 0;}
    100%{width: 60%;}
}

@keyframes fillcariñoso {
    0%{width: 0;}
    100%{width: 50%;}
}

@keyframes fillhumor {
    0%{width: 0;}
    100%{width: 90%;}
}

@keyframes fillfamiliar {
    0%{width: 0;}
    100%{width: 70%;}
}

/*Form*/

.form-skill {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    font-size: 20px;
    border-radius: 10px;
    color: antiquewhite;
}

.contacto form {
    display: grid;
    grid-gap: 20px;
}

.contacto form label {
    display: block;
}

.contacto form p {
    margin: 0;
}

.title-select{
    padding-bottom: 20px;
}

.contacto form button, .contacto form .campos{
    width: 100%;
    padding: 1em;
    
}

.boton input {
    color: rgb(193, 210, 210);
    background-color: blue;
    border-radius: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    
}

/*Footer*/

footer {
   padding-top: 40px;
}
footer .titulo-footer{
   color: rgb(21, 126, 157);
   text-align: center;

}

footer .copy{
    color: rgb(21, 126, 157);
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes i {
    font-size: 30px;
    padding: 20px 20px;
    color: rgb(21, 126, 157);

}


/*Estilos para pantallas más grandes de 980px*/
@media only screen and (min-width:980px){
    .nav-toggle {
        display: none;
    }

    .nav-header {
        display: block;
    }

    .nav-header img{
        position:relative;
        left:18%;
        width:200px;
        height:165px;
        
    }

    .logo {
        border-radius:50%;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .nav-links {
        height: auto;
    }

    ul{
        text-align: center;
        font-size: 30px;
        float: right;
    }

    nav li a:hover{
        color:rgb(210, 226, 24);
    }

    .nav-link {
        display: inline-block;
    }

    /*Section*/

    .text-portfolio { 
        font-size: 50px;
    }

    /*Skills*/
    .skills {
   
        margin-block-start: auto;
        font-size: 20px;
        margin-top: 0;
    }

    .skill {
        
        padding: 10px;
        color: rgb(55, 81, 161);
        font-weight: bold;
    }

    /*Formulario*/


    .form-skill {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 180px;     
        align-self: start; 
    }

    .contacto form {
        display: flex;
        flex-direction: column
        ;
    }
    .contacto form .full {
        grid-column: 1 / 3;
    }
    
    .contacto form p {
        margin: 0;
    }
    
    .title-select{
        padding-bottom: 20px;
    }
    
    .contacto form button, .contacto form .campos{
        width: 100%;
        padding: 1em;
        
    }

    .boton input {
        font-size: 20px;
    }


    /*Footer*/

    .redes i {
        font-size: 30px;
        padding: 20px 20px;
    
    }

    footer .titulo-footer{
        font-size: 30px;
     
     }
     
     footer .copy{
        font-size: 20px;
     }
    
    
    
   

  
}







